body {
    font-family: 'Courier New', Courier, monospace; /* Retro monospace font */
    background-color: #000; /* Black background for a retro feel */
    color: #4B8B3B; /* Bright green text color */
    margin: 0;
    padding: 20px;
    text-align: center; /* Center the content */
    
}


pre {
    font-size: 16px; /* Adjust font size for better visibility */
    color: #4B8B3B; /* Bright green text color for ASCII art */
}

a {
    color: #A0B2C1; /* Bright yellow color for links */
    text-decoration: underline; /* Underline links for a retro look */
}
h2 {
    font-size: 18px;
    color: #A9A9A9;
    text-align: left;
}
h3 {
    text-align: center;
}
p {
    font-size: 16px;
    color: #A9A9A9;
    text-align: left;
}
a:hover {
    color: #4A5568; /* Orange color on hover */
}

.category {
    margin: 10px 0;
}

.collapsible {
    background-color: #333; /* Dark gray background for buttons */
    color: #2fcf21; /* GR?EEN */
    cursor: pointer;
    padding: 10px;
    width: 50%;
    border: 2px solid #2F4F4F; /* RED */
    text-align: left;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace; /* Retro font for buttons */
}

.collapsible:hover {
    background-color: #444; /* Slightly lighter gray on hover */
}

.content {
    padding: 1px;
    display: none; /* This will hide the content by default */
    overflow: hidden;
    background-color: #222; /* Darker gray for content background */
    border: 2px solid #228B22; /* RED */
    border-radius: 5px;
    margin: 5px auto; /* Center horizontally and add top margin */
    color: #8a120e; /* RED */
    width: 50%; /* Set width to 50% */
    text-align: center; /* Center text inside the content */
}

footer {
    height: 50px; /* Set footer height */
    background-color: #000; /* Black background for footer */
    text-align: center; /* Center the text */
    padding: 10px; /* Padding around the text */
    width: 100%; /* Full width */
    margin-top: auto; /* Push footer to the bottom */
}

@media only screen and (max-width: 768px) {
    pre {
        display: none; /* Hides ASCII art on screens smaller than 768px */
    }
}

.desktop-heading {
    display: block; /* Show by default */
}

/* Hide on mobile devices */
@media (max-width: 768px) {
    .desktop-heading {
        display: none; /* Hide on screens smaller than 768px */
    }
}