body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #4B8B3B;
    margin: 0;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

pre {
    font-size: 16px;
    color: #4B8B3B;
    text-align: center;
}

a {
    color: #A0B2C1;
    text-decoration: underline;
}

h2 {
    font-size: 18px;
    color: #A9A9A9;
    text-align: left;
    margin-left: 1em;
}

h3 {
    text-align: center;
}

p {
    font-size: 16px;
    color: #A9A9A9;
    text-align: left;
    margin-left: 1em;
}

a:hover {
    color: #4A5568;
}

.category {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category:hover {
    color: #A9A9A9;
}
details {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
    background: #222;
    color: #eee;
    width: 50%;
    max-width: 500px;
    min-width: 250px;
    text-align: left;
}

summary {
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: #2fcf21;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: left;
}

details[open] summary {
    color: #6cf;
}

footer {
    height: 50px;
    background-color: #000;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

@media only screen and (max-width: 768px) {
    pre {
        display: none;
    }
    details {
        width: 90%;
        min-width: unset;
    }
}

.desktop-heading {
    display: block;
}

@media (max-width: 768px) {
    .desktop-heading {
        display: none;
    }
}
